/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/09/2017, 17:32:26
    Author     : vitoria
*/
 html,body{
    margin:0%;
    padding:0%;
    font-family: 'Arial', 'Comic sans';
}

header{
    width: 100%;
    background-color: #f300ff;
    height: 10%;
    float:left;
}
nav{
    float: right;
    margin-top:-3.5%;
    width: 45%;
    position: relative;
    
}

a{
    color: #000;
    padding: 1%;
    padding-right: 2%;
    float:left;
    
}
span{
    color: red;
}
.formulario{    
    float: left;
    width: 100%;
    height: 80%;
}

h1{
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
}

form{
    padding: 2%;
    left: 10%;
    right: 10%;
    width: 75%;
    position: relative;
    float: left;
}

input{
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 2%;
    width: 85%;
    margin-left: 5%;
    margin-right: 5%;  
}

label{
    font-size: 1.2em;
    margin-left: 5%;
}

input[type=submit]{
    width: 70%;
    margin-left: 15%;
    margin-right: 10%;
    float: left;
}
#conteudo{
    background-color: #fff;
    margin-left: 10%;
    margin-right:10%;
    float: left;
    width: 75%;
    padding: 3%;
    border-radius: 10px;   
    z-index: 7;
    position: relative;
}

#btnfechar{
    text-decoration: none;
    float: right;
    margin-top: 6%;
    margin-right: 8%;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    background: #000;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    width: 3%;
    z-index: 8;
    position: relative;
    text-align: center;
    
    
   }

.tabela {
    display:none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.tabela:target{
    display: block;    
}
table{
    float: left;
    width: 75%;
    text-align: center;
}
h2{
    font-size: 1em;
    font-weight: 300;
}
#dados{
    float: right;
    margin-right: 5%;
    
}
footer{
    margin-top:0.9%;
    padding: 1%;
    background-color: #000099;
    text-align: center;
    margin-bottom: 0%;
    width: 98%;
    background-color: #f300ff;
    height: 4%;
    float: left;
}