/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/09/2017, 17:32:26
    Author     : vitoria
*/
 html,body{
    margin:0%;
    padding:0%;
    font-family: 'Arial', 'Comic sans';
}

header{
    width: 100%;
    background-color: #9C27B0;
    height: 10%;
    float:left;
    font-size: 2em;
    color: #fff;
}
#titulo{
    padding: 1%;
    margin-left: 3%;
}
nav{
    float: right;
    margin-top:-3.5%;
    width: 45%;
    position: relative;  
}

a{
    color: #fff;
    padding: 1%;
    padding-right: 2%;
    float:left;   
}
span{
    color: red;
    float: left;
}

#alerta{
    background-color: #fff;
    margin-left: 40%;
    margin-top: 15%;
    width: 10%;
    padding: 3%;
    border-radius: 10px;   
    z-index: 1;
    position: relative;
    float:left
}
button{
    float: left;
    margin-top:25%;
    margin-left: 5%;
}
#aplicacao{
    float: left;
    height: 67%;
    width: 50%;
    padding: 3%;
    background: #cccc00;
}
p{
    float: left;
    text-align: justify;
}

#equipe{
    float: right;
    height: 67%;
    padding: 3%;
    width: 35%;
    background: #00cccc;
}

.formulario{    
    float: left;
    width: 100%;
    height: 80%;
}

h1{
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
}

form{
    padding: 2%;
    left: 10%;
    right: 10%;
    width: 75%;
    position: relative;
    float: left;
}

input{
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 2%;
    width: 85%;
    margin-left: 5%;
    margin-right: 5%;  
}

label{
    font-size: 1.2em;
    margin-left: 5%;
}

input[type=submit]{
    width: 70%;
    margin-left: 15%;
    margin-right: 10%;
    float: left;
}
#conteudo{
    background-color: #fff;
    margin-left: 10%;
    margin-right:10%;
    float: left;
    width: 75%;
    padding: 3%;
    border-radius: 10px;   
    z-index: 7;
    position: relative;
}

#btnfechar{
    text-decoration: none;
    float: right;
    margin-top: 1%;
    margin-right: 4%;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    z-index: 8;
    position: relative;
   }

.tabela {
    display:none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    z-index:5;
}

.tabela:target{
    display: block;    
}
table{
    float: left;
    width: 75%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 5px;
  
}
th, td{
    padding: 0.8%;
    border-bottom: 1px;
    border:0px;
    border-bottom: 1px solid #ddd;
}
th{
    background-color: #00cccc;
}
h2{
    font-size: 1em;
    font-weight: 300;
}
#dados{
    float: right;
    margin-right: 5%;
    
}
footer{
    margin-top:0.9%;
    padding: 1%;
    background-color: #9C27B0;
    text-align: center;
    margin-bottom: 0%;
    width: 98%;
    height: 4%;
    float: left;
    color: #fff;
}